<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FotoArial</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        .main-content {
            flex: 1;
            display: flex;
        }
        .nav-menu {
            min-width: 200px;
        }
        footer {
            text-align: center;
            padding: 10px;
            background-color: #f8f9fa;
        }
    </style>
</head>
<body>

    <%- include("partials/header") -%>

    <div class="main-content container-fluid">
        <%-  include("partials/menu")-%>
        
        <div class="content p-3">
            <div class="container-fluid p-4">
                <h1>Eliminar por ID</h1>
            <form action="/photos/delete" method="post" name="delete">
                <div class="form-group mt-2">
                  <input type="text" name="id" class="form-control" id="id" placeholder="ID de la Foto" required="required">
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-outline-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"></path>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"></path>
                        </svg>
                    </button>
                </div>
              </form>
        </div>
    </div>
    
    </div>
    <%-  include("partials/footer") -%>
</body>
</html>